/* Start Global */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: Dubai;
  src: url("/assets/fonts/ArbFONTS-Dubai-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: Dubai;
  src: url("/assets/fonts/ArbFONTS-Dubai-Bold.ttf");
  font-weight: bold;
}
body {
  font-family: Dubai;
}

p {
  margin-bottom: 0 !important;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* End Global */
/*Start */
section.sec {
  margin: 6.25rem 0;
}

@media (min-width: 320px) and (max-width: 567px) {
  .slider-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .slider-wrapper {
    width: 90%;
  }
}
/*End */
.my-progress-bar {
  height: 11px;
  width: 100%;
  background: white;
  border-radius: 1rem;
  margin-bottom: 11px;
}
.my-progress-bar .my-progress {
  background: #00bcd5;
  width: 40%;
  height: 100%;
  border-radius: 1rem;
}

.questions-page .questions__head {
  background: #f1f5f9;
  padding: 1.25rem;
  border-radius: 15px;
  margin-bottom: 1.25rem;
}
.questions-page .questions__head header h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 1rem;
}
.questions-page .questions__head header p {
  font-size: 1.25rem;
  font-weight: normal;
  color: #707070;
  margin-bottom: 1rem !important;
}
.questions-page .questions__head .my-progress-bar {
  background: #e3e3e3;
}
.questions-page .questions__numbers {
  font-size: 1rem;
  font-weight: normal;
  color: #707070;
}

@media (max-width: 568px) {
  .questions-page .questions__head header h2 {
    font-size: 1.25rem;
  }
  .questions-page .questions__head header p {
    font-size: 0.7rem;
    margin-bottom: 0.5rem !important;
  }
  .questions-page .questions__head .questions__numbers {
    font-size: 0.75em;
  }
}
.questions-page .questions__items .questions-item {
  background: #f1f5f9;
  padding: 1.25rem;
  border-radius: 15px;
  margin-bottom: 1.25rem;
}
.questions-page .questions__items .questions-item h5 {
  color: #9f9f9f;
  font-size: 1.25rem;
}
.questions-page .questions__items .questions-item > p {
  font-size: 1.19rem;
  color: #707070;
}
.questions-page .questions__items .questions-item form {
  margin-top: 1rem;
}
.questions-page .questions__items .questions-item form label {
  font-size: 1.25rem;
  color: #9f9f9f;
}
.questions-page .questions__items .questions-item form label:active {
  color: #707070;
}
.questions-page button.questions__button-show {
  width: 100%;
  border: none;
  padding: 1rem 0;
  border-radius: 1rem;
  background: #f44236;
  color: white;
  font-size: 2rem;
}
.questions-page button.questions__button-show img {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .questions-page .questions__items .questions-item p,
.questions-page .questions__items .questions-item h5,
.questions-page .questions__items .questions-item form label {
    font-size: 1rem;
  }
  .questions-page button.questions__button-show {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
  .questions-page button.questions__button-show img {
    width: 1.25rem;
  }
}

/*# sourceMappingURL=home-as-login.css.map */
